input[type=submit] {
    margin: auto;
    width: 20%;
    padding: 10px;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

input[type=text],
select {
    -webkit-align-content: center;
    align-content: center;
}

h1 {
    text-align: center;
    margin-right: 30px;
    font-family: 'Staatliches', cursive;
    font-size: 100px; 
    color: gold; 
}


body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#buttons-go-here{
    margin-left: 380px; 
    margin-top: 50px;
}

#gifs-appear-here{
    margin-left: 500px; 
    width: 50%;
}

#add-button{
   margin-left: 650px; 
   margin-top: 50px;
   width: 100px; 
  
  
}

#input-text{
    margin-left: 620px; 
    margin-top: 50px; 
}

p{
    color: gold; 
}